<div class="row">
  <div class="col-xs-2">
    <a href="/servicos"><i class="fa fa-angle-left"></i></a>
  </div>
  <div class="col-xs-10">
    <ul class="list-unstyled">
      <li>/ ARQUITECTURA</li>
    </ul>
    <p class="text-left">
    Plantas-baixas<br><br>

    Elaboração de projecto arquitectónico<br><br>

    Execução de projectos<br><br>

    Remodelações e decoração de interiores
    </p>
  </div>
</div>
