<div class="row">
  <div class="col-xs-2">
    <a href="/servicos"><i class="fa fa-angle-left"></i></a>
  </div>
  <div class="col-xs-10">
    <ul class="list-unstyled">
      <li>/ INSTALAÇÕES</li>
    </ul>
    <p class="text-left">
      <ul class="list-unstyled">
        <li>Elétricas</li>
        <li>Hidráulicas</li>
        <li>Sanitária</li>
        <li>Pluvial</li>
        <li>Telefonia e dados</li>
        <li>Gás</li>
        <li>Combate a incêndio</li>
        <li>Especiais</li>
      </ul>
    </p>
  </div>
</div>
