<div class="row">
  <div class="col-xs-2">
    <a href="/servicos"><i class="fa fa-angle-left"></i></a>
  </div>
  <div class="col-xs-10">
    <ul class="list-unstyled">
      <li>/ CONSTRUÇÃO CIVIL</li>
    </ul>
    <p class="text-left">
      <ul class="list-unstyled">
        <li>Prédios e estruturas comerciais, industriais e residenciais</li>
        <li>Demolições e fundações</li>
        <li>Topografia, terraplanagem, pavimentação,
        jardins<li>
        <li>Terceirização integral (mão-de-obra,
        equipamentos e material)</li>
        <li>Acabamento e pintura</li>
        <li>Administração de obras</li>
      </ul>
    </p>
  </div>
</div>
