<div class="row">
  <div class="col-xs-2">
    <a href="/servicos"><i class="fa fa-angle-left"></i></a>
  </div>
  <div class="col-xs-10">
    <ul class="list-unstyled">
      <li>/ MANUTENÇÃO PREDIAL</li>
    </ul>
    <p class="text-left">
      <ul class="list-unstyled">
        <li>Terceirização de pessoal</li>
        <li>Limpeza</li>
        <li>Conservações</li>
        <li>Jardinagem</li>
      </ul>
    </p>
  </div>
</div>
