<ul class="list-unstyled">
  <a ui-sref="servicos.construcao"><li>/ CONSTRUÇÃO CIVIL</li></a>
  <a ui-sref="servicos.arquitectura"><li>/ ARQUITECTURA</li></a>
  <a ui-sref="servicos.instalacoes"><li>/ INSTALAÇÕES</li></a>
  <a ui-sref="servicos.manutencao"><li>/ MANUTENÇÃO PREDIAL</li></a>
  <a ui-sref="servicos.reformas"><li>/ REFORMAS</li></a>
  <a ui-sref="servicos.marcenaria"><li>/ MERCENARIA</li></a>
  <a ui-sref="servicos.elaboracao"><li>/ ELABORAÇÃO DE PROJECTOS</li></a>
  <a ui-sref="servicos.actividades"><li>/ AS NOSSAS ACTIVIDADES</li></a>
</ul>
