<div class="navbar navbar-bottom navbar-fixed-bottom">
  <div class="container">

    <div class="pull-left">
      <div>
        <span class="logo-mini"> <p class="areas">SAÚDE | ESCRITÓRIOS E BUSINESS | HABITAÇÃO PREMIUM<p> </span>
      </div>
     </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="credits"><a href="#"><i class="fa fa-facebook"></i></a> | <a href="#"><i class="fa fa-twitter"></i></a> <strong>DESIGNED @ BRANDSCAPE</strong> </li>
    </ul>

  </div>
</div>
