<nav class="navbar navbar-top navbar-fixed-top" role="navigation">

  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/home">
      </a>
    </div>

    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">

      <li><a ng-class="{ active: isActive('empresa')}"  href="/empresa">EMPRESA</a></li>
      <li><a ng-class="{ active: isActive('servicos')}" href="/servicos">SERVIÇOS</a></li>
      <li><a ng-class="{ active: isActive('equipa')}" href="/equipa">EQUIPA</a></li>
      <li><a ng-class="{ active: isActive('portfolio')}" href="/portfolio">PORTFOLIO</a></li>
      <li><a ng-class="{ active: isActive('contactos')}" href="/contactos">CONTACTOS</a></li>
      <!-- <li><a ng-class="{ active: isActive('areacliente')}" href="/areacliente">ÁREA DE CLIENTE</a></li> -->

      </ul>

    </div>

  </div>

</nav>
