<div id="empresa" class="background"></div>
  <article class="container" id="l-empresa">
    <div class="wrapper">

      <header class="l-left">

        <div id="title">
          <h3>EMPRESA</h3>
        </div>
        <h1>A OLIVEIRA E LIMA LDA. DESENVOLVE A SUA ATIVIDADE NO MERCADO ANGOLANO,
           DINAMIZANDO PROJECTOS QUE TÊM COMO OBJECTIVO A EXCELÊNCIA E A VALORIZAÇÃO DAS PESSOAS.</h1>

      </header>

      <section class="l-right">

        <div class="row">

          <div class="l-right-logo">
            <div class="logo-ol"></div>
          </div>

        </div>

        <div class="row">

          <div class="l-right-text">
              <p class="text-justify">Mais do que oferecer capacidade técnica e criatividade aos nossos clientes, garantimos o empenho
              de uma equipa que já realizou obras em Luanda, Lobito, Cabinda, Saurino, Kuando, Kubango e Bengo.
              Superámos já mais de 20 mil m² em construção, reformas, decoração e manutenção preventiva.<br><br>
              Aguardamos o seu contacto. Temos uma equipa de profissionais que vive a construção civil com paixão e determinada a "fazer acontecer"
              o seu projecto.
              </p>
          </div>

        </div>

      </section>

    </div>
  </article>
