<div id="empresa" class="background"></div>
  <article class="container" id="l-equipa">
    <div class="wrapper">

      <header class="l-left">

        <div id="title">
          <h3>EQUIPA</h3>
        </div>
        <h1> OS COLABORADORES OLIVEIRA & LIMA TÊM EXPERIÊNCIA COMPROVADA POR ÓRGÃOS E INSTITUIÇÕES LOCAIS.<br>
          TÊM FORMAÇÃO EM SEGURANÇA NO TRABALHO.<br> POR ISSO, CONHECEM AS REGRAS DE SEGURANÇA EXIGIDAS NO SECTOR DE CONSTRUÇÃO CIVIL, TENDO
          COMO META ACIDENTE ZERO! </H1>
        </h1>
      </header>

      <section class="l-right">

        <div class="row">

          <div class="l-right-logo">
            <div class="logo-people"></div>
          </div>

        </div>

        <div class="row">

          <div class="l-right-text">
              <p class="text-justify">
                SOMOS UMA CONSTRUTORA MODERNA E MUITO VERSÁTIL. PARA ALÉM DAS COMPETÊNCIAS DE CONSTRUÇÃO CIVIL EM
                INSTALAÇÕES DE SAÚDE, BUSINESS E ESCRITÓRIOS E EM HABITAÇÃO PREMIUM, GARANTIMOS:<br>

                <ul class="list-unstyled">
                  <li>/ Financeiro / Calculista de obras</li>
                  <li>/ Engenheiro Civil</li>
                  <li>/ Arquitecto inscrito no GPL</li>
                  <li>/ Encarregados / mestre de obras</li>
                  <li>/ Electricistas</li>
                  <li>/ Marceneiros e carpinteiros</li>
                  <li>/ Serralheiros</li>
                  <li>/ Pintores</li>
                  <li>/ Pedreiros</li>
                  <li>/ Especialistas em tecto falso</li>
                  <li>/ Especialistas em assentamento <br>de mármore e granito</li>
                </ul>

              </p>
          </div>

        </div>

      </section>

    </div>
  </article>
