<aside id="h-portfolio">

  <div class="container">

    <header class="wrapper">

        <div class="col-xs-2">
            <img class="img-responsive spiral" src="/images/logos/spiral.png"/>
        </div>

        <div class="col-xs-10">
          <h1>AS OBRAS JÁ REALIZADAS E A SATISFAÇÃO DOS CLIENTES SÃO O MAIOR PATRIMÓNIO DA OLIVEIRA & LIMA.
          É COM ORGULHO QUE DESTACAMOS AQUI ALGUMAS DAS MAIS EMBLEMÁTICAS REALIZAÇÕES DESTA CONSTRUTORA:</h1>
        </div>

    </header>

  </div>

</aside>

<article id="l-portfolio">

  <div class="container">

    <div class="wrapper">

        <div class="portfolio-icon">
            <a href="/portfolio/{{imgValue}}" ng-show="navBack"><i class="ion-chevron-left"></i></a>
        </div>
        <div class="portfolio-foto">
            <img class="img-portfolio" ng-src="/images/portfolio/{{image.url}}" alt="{{image.description}}"></img>
        </div>
        <div class="portfolio-texto">
            <h1>{{image.name}}</h1>
            <p>{{image.description}}</p>
        </div>
        <div class="portfolio-icon">
            <a href="/portfolio/{{imgValue + 2}}" ng-show="navForward"><i class="ion-chevron-right"></i></a>
        </div>

    </div>

  </div>

</article>
