<div id="servicos" class="background"></div>
  <article class="container" id="l-servicos">
    <div class="wrapper">

      <header class="l-left">

        <div id="title">
          <h3>SERVIÇOS</h3>
        </div>
        <h1>SOMOS UMA CONSTRUTORA MODERNA E MUITO VERSÁTIL.<BR>
          PARA ALÉM DAS COMPETÊNCIAS DE CONSTRUÇÃO CIVIL EM INSTALAÇÕES DE SAÚDE,
          BUSINESS E ESCRITÓRIOS E EM HABITAÇÃO PREMIUM, GARANTIMOS:</h1>

      </header>

      <section class="l-right">

        <div class="row">

          <div class="l-right-logo">
            <div class="logo-tools"></div>
          </div>

        </div>

        <div class="row">

          <div class="l-right-text">
              <div ui-view="content"></div>
          </div>

        </div>

      </section>

    </div>
  </article>
