/*

  Base or default styles

*/

@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

a:active, a:focus {
  outline: none !important;
}

$base_color: #183152;
$base_font: 'Dosis', sans-serif;

@import "logos/*.png";
@include all-logos-sprites;

*
{
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  min-width: 1024px;
  height: 100%;
  font-family: $base_font;
  letter-spacing: 1px;
}

h1 {
  color: white;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

h3 {
  color: white;
}

header {
  height: 50px;
}

footer {
  height: 60px;
}

.container {
  width: 1024px !important;
  max-width: none !important;
  height: 100%;
  position: relative;
}

[ui-view="body"], .content {
  height: calc(100% - 110px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

[ui-view="main"] {
  position: absolute;
  left:0;
  right: 0;
  height: 100%;
}


#title {
  text-align: right;
  border-bottom: 3px solid white;
}

p {
  font-size: 22px;
}
