/*

    Layout (Position, etc)

*/

.l-left {
  @include make-xs-column(6);
  margin-top: 80px;
}

.l-right {
  @include make-xs-column(6);
}

.l-right-logo, .l-right-text {
  @include make-xs-column(12);
}

.wrapper {
  @include make-row();
}

.l-portfolio-content {
  @include make-xs-column(12);
}

#l-empresa {
  .l-right {
    margin-top: 210px;
  }

  .l-right-logo {
    margin-bottom: 30px;
  }
  h1 {
    font-size: 22px;
  }
  .list-unstyled {
    font-size: 20px;
  }
  p {
    padding-left: 65px;
  }
}

#l-equipa {
  @extend #l-empresa;
  ul {
    color: white;
    font-size: 24px;
  }
  ul {
    padding-left: 55px;
    color: black;
  }
}

#l-servicos {
  @extend #l-empresa;
  p {
    padding-left: 0px;
  }
  .l-right-logo {
    margin-bottom: 40px;
  }
  .l-right {
    margin-top: 210px;
    .l-right-text {
      p:first-child {
        padding-left: 40px;
      }
      ul {
        li {
            color: black;
            font-size: 24px;
            padding-left: 120px;
            margin-bottom: 20px;
        }
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
      .col-xs-10 {
        ul {
          li {
            padding-left: 0px;
          }
        }
      }
      a > .fa-angle-left {
        padding-top: 180px;
        color: black;
        font-size: 5em;
      }
    }
  }
  ul {
    color: white;
    font-size: 24px;
  }
}

#l-portfolio {
  background: url("/images/background_red.png") repeat;
  height: calc(100% - 165px);
}

#h-portfolio {
  header {
    padding-top: 20px;
    padding-bottom: 40px;
    h1 {
      color: black;
      text-align: left;
      padding-bottom: 25px;
    }
  }
}

.portfolio-foto {
  @include make-xs-column(7);
}

.portfolio-texto {
  margin-top: 20px;
  @include make-xs-column(3);
  h1 {
    font-size: 26px;
  }
  p {
    color: white;
    font-size: 16px;
  }
}


.portfolio-icon {
  @include make-xs-column(1);
  margin-top : 130px;
}

#l-portfolio {
  .wrapper {
    padding-top: 80px;
    @media screen and ( max-height: 750px ){
      padding-top: 20px;
    }
  }
}

#l-contactos {
  @extend #l-empresa;
  // .l-right-text {
  //   margin-left: 30px;
  // }
}
