/*

    Reusable components (buttons, etc)

*/

.navbar-brand {
  @extend .logos-nav;
  @include size(264px, 48px);
}

.logo-home {
  @include size(558px, 262px);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: calc(-558px/2);
  margin-top: calc(-262px/2);
}

.logo-mini {
  @extend .logos-mini;
  @include size(100%, 50px);
  display: inline-block;
  margin-top: 5px;
}

.logo-saude {
  @extend .logos-blue;
  @include size(300px, 138px);
  position: absolute;
  bottom: 65%;
  right: 85px;
}

.logo-business {
  @extend .logo-saude;
  @extend .logos-bluedark;
}

.logo-premium {
  @extend .logo-saude;
  @extend .logos-brown;
}

.logo-ol {
  @extend .logos-ol;
  @include size(111px, 109px);
  position: absolute;
  bottom: 65%;
  right: 170px;
}

.logo-people {
  @extend .logos-people;
  @include size(108px, 109px);
  position: absolute;
  bottom: 65%;
  right: 170px;
}

.logo-tools {
  @extend .logos-tools;
  @include size(111px, 109px);
  position: absolute;
  bottom: 65%;
  right: 170px;
}

.logo-mobile {
  @extend .logos-mobile;
  @include size(111px, 109px);
  position: absolute;
  bottom: 65%;
  right: 170px;
}

.credits {
  margin-top: 0px;
  strong {
    margin-left: 15px;
    margin-top: 0px;
  }
  > a {
    display: inline !important;
    background-color: transparent !important;
    &:hover {
      background-color: transparent !important;
    }
  }
}

.img-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.areas {
  margin-top: 15px;
  margin-left: 70px;
  font-size: 18px;
}

a > .fa-twitter, a >.fa-facebook {
  padding-top: 14px;
  color: $base_color;
  font-size: 26px;
  @include opacity(.8);
  &:hover {
    @include opacity(100);
  }
}

.spiral {
  padding-top: 10px;
}

.ion-chevron-left, .ion-chevron-right {
  color: white;
  font-size: 3.5em;
  &:hover {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
  }
}


.img-portfolio {
  @include size(100%, 350px);
  border: 5px solid white;
  @include box-shadow(0, 10px, 3px, rgba(0,0,0,.8));
}
