/*

    States of the components (:active, :hover, etc)

*/

.fade {
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
  opacity: 1;

  &.ng-enter {
    opacity: 0
  }

  &.ng-leave.ng-leave-active {
    opacity: 0
  }

}
