/*

  Theme Styles

*/

// Navbars
.navbar-top {
  background-color: #5d5d5d;
  border-bottom: 1px solid white;
  border-radius: 0px;

  a {
    color: white;
  }

  .navbar-nav > li > a {

    &:before {
      content: "";
      height: 2px;
      width: 12px;
      background-color: white;
      position: absolute;
      bottom: 10px;
      left: 20px;
    }

    &:after {
      content: "";
      height: 30px;
      width: 1px;
      background-color: white;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &:hover {
      background-color: transparent;
      &:before {
        content: "";
        height: 2px;
        width: 12px;
        background-color: #d63835;
        position: absolute;
        bottom: 10px;
        left: 20px;
      }
    }
    &.active {
      // color: #d63835;
      &:before {
        content: "";
        height: 2px;
        width: 12px;
        background-color: #d63835;
        position: absolute;
        bottom: 10px;
        left: 20px;
      }
    }
  }

  .nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navbar-bottom {
  background-color: #fff;
  border-top: 2px solid #e7e7e7;
  margin-bottom: 0px !important;
  border-radius: 0px;
  height: 60px;
}

// Home
[ui-view="main"] {
  height: 100%;
}

#construcao {
  height: 100%;
  background: url("/images/background_red.png") repeat;
}

#saude {
  position: absolute;
  height: 100%;
  width: 68.5%;
  margin: 0 0 0 -11%;

  transform: skewX(-23deg);
  -ms-transform: skewX(-23deg); /* IE 9 */
  -webkit-transform: skewX(-21deg); /* Safari and Chrome */

  overflow: hidden;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;

  @media (min-width: 0px) and (max-width: 1124px) {
    width: 76%;
    transform: skewX(-24deg);
    -ms-transform: skewX(-24deg); /* IE 9 */
    -webkit-transform: skewX(-24deg); /* Safari and Chrome */
  }

  @media (min-width: 1124px) and (max-width: 1478px) {
    width: 73.5%;
    transform: skewX(-24deg);
    -ms-transform: skewX(-24deg); /* IE 9 */
    -webkit-transform: skewX(-24deg); /* Safari and Chrome */
  }


  &:before {

    content: "";
    position: absolute;

    background: url("/images/background_blue.png") repeat;

    transform: skewX(30deg);
    -ms-transform: skewX(30deg); /* IE 9 */
    -webkit-transform: skewX(30deg); /* Safari and Chrome */

    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;

    width: 100%;
    height: 100%;
  }
}

#business {
  @extend #saude;
  &:before {
      background: url("/images/background_bluedark.png") repeat;
  }
}

#premium {
  @extend #saude;
  &:before {
      background: url("/images/background_brown.png") repeat;
  }
}

#empresa {
  @extend #saude;
  &:before {
      background: url("/images/background_red.png") repeat;
  }
}

#servicos {
  @extend #saude;
  &:before {
      background: url("/images/background_red.png") repeat;
  }
}

#contactos {
  @extend #saude;
  &:before {
      background: url("/images/background_red.png") repeat;
  }
}
