<div id="business" class="background"></div>
<!--
    <div class="container">

      <section class="l-left">

        <div id="title">
          <h3>BUSINESS</h3>
        </div>

        <h1>CONSTRUIMOS ESPAÇOS COMERCIAIS E ESCRITÓRIOS DE ALTA QUALIDADE...</h1>

      </section>
      <div class="logo-business"></div>
      <img class="img-right" src="/images/photo_business.png" />

    </div>
  </div> -->
<!-- <div id="empresa" class="background"></div> -->
  <article class="container" id="l-empresa">
    <div class="wrapper">

      <section class="l-left">

        <div id="title">
          <h3>BUSINESS</h3>
        </div>
        <h1>CONSTRUIMOS ESPAÇOS COMERCIAIS E ESCRITÓRIOS DE ALTA QUALIDADE...</h1>

      </section>

      <section class="l-right">

        <div class="row">

          <div class="l-right-logo">
            <div class="logo-business"></div>
          </div>

        </div>

        <div class="row">

          <div class="l-right-text">
              <img src="/images/photo_business.png" />
          </div>

        </div>

      </section>

    </div>
  </article>
