<div id="saude" class="background"></div>
<!--
  <div class="container">

    <section class="l-left">

      <div id="title">
        <h3>SAÚDE</h3>
      </div>

      <h1>A PRIMEIRA CONSTRUCTORA ANGOLANA ESPECIALIZADA EM SAÚDE</h1>

    </section>
    <div class="logo-saude"></div>
    <img class="img-right" src="/images/photo_saude.png" />

  </div>

</div> -->
<article class="container" id="l-empresa">
  <div class="wrapper">

    <section class="l-left">

      <div id="title">
        <h3>HABITAÇÃO PREMIUM</h3>
      </div>
      <h1>CONSTRUIMOS COM O COMPROMISSO DE FAZER DA SUA CASA UM ESPAÇO DE EXCELÊNCIA E BEM-ESTAR...</h1>

    </section>

    <section class="l-right">

      <div class="row">

        <div class="l-right-logo">
          <div class="logo-saude"></div>
        </div>

      </div>

      <div class="row">

        <div class="l-right-text">
            <img src="/images/photo_saude.png" />
        </div>

      </div>

    </section>

  </div>
</article>
